.widget
  .widget-title
    .icon
      %i.icon20.i-stack-checkmark
    %h4 Device

  .widget-content
    = simple_form_for @device, :html => { :class => 'form-horizontal' } do |f|
      = f.input :device_id, input_html: { class: 'span12' }
      = f.input :user_id, input_html: { class: 'span12' }
      = f.input :channel_id, input_html: { class: 'span12' }
      = f.input :root
      = f.input :application_id, input_html: { class: 'span12' }
      .form-actions
        = f.button :submit, :class => 'btn btn-primary'
        = link_to 'Cancel', devices_path, :class => 'btn'
