= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "Home", '#') + content_tag(:span, '/', class: 'divider')
      / %li= link_to("Library", '#') + content_tag(:span, '/', class: 'divider')
      %li.active Devices

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-users') + ' Devices'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Device
      %th User ID
      %th Channel ID
      %th Root
      %th Application
      %th
  %tbody
    - @devices.each do |device|
      %tr
        %td= device.device_id
        %td.center= device.user_id
        %td.center= device.channel_id
        %td.center= device.root
        %td.center= device.application_id
        %td.center.vcenter
          .btn-group
            / = link_to 'Show', device
            = link_to content_tag(:i, nil, class:'icon12 i-pencil') + ' Edit', edit_device_path(device), class: 'btn btn-mini'
            = link_to content_tag(:i, nil, class:'icon12 i-remove') + ' Delete', device, class: 'btn btn-danger btn-mini', :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Device', new_device_path, class: 'btn btn-primary'
