%p#notice= notice

%p
  %b Device:
  = @device.device_id
%p
  %b User:
  = @device.user_id
%p
  %b Channel:
  = @device.channel_id
%p
  %b Root:
  = @device.root
%p
  %b Application:
  = @device.application_id

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
