.widget
  .widget-title
    .icon
      %i.icon20.i-stack-checkmark
    %h4 Application

  .widget-content
    = simple_form_for @application, :html => { :class => 'form-horizontal' } do |f|
      = f.input :name, input_html: { class: 'span12' }
      .form-actions
        = f.button :submit, :class => 'btn btn-primary'
        = link_to 'Cancel', applications_path, :class => 'btn'
