= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "Home", '#') + content_tag(:span, '/', class: 'divider')
      %li= link_to("Applications", applications_path) + content_tag(:span, '/', class: 'divider')
      %li.active Edit Applications

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-rocket') + ' Edit Applications'

= render :partial => 'form'
