= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "Home", '#') + content_tag(:span, '/', class: 'divider')
      / %li= link_to("Library", '#') + content_tag(:span, '/', class: 'divider')
      %li.active Applications

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-rocket') + ' Applications'


%table.table.table-striped.table-bordered
  %thead
    %tr
      %th #
      %th Application Name
      %th User Count
      %th Root Count
      %th
  %tbody
    - @applications.each do |app|
      %tr
        %td.center= app.id
        %td= app.name
        %td.center 0
        %td.center 0
        %td.center.vcenter
          .btn-group
            = link_to content_tag(:i, nil, class:'icon12 i-eye') + ' Show', app, class: 'btn btn-mini'
            = link_to content_tag(:i, nil, class:'icon12 i-pencil') + ' Edit', edit_application_path(app), class: 'btn btn-mini'
            = link_to content_tag(:i, nil, class:'icon12 i-remove') + ' Delete', application_path(app), class: 'btn btn-danger btn-mini', :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'New Application', new_application_path, class: 'btn btn-primary'
