= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "Home", '#') + content_tag(:span, '/', class: 'divider')
      %li= link_to("Applications", applications_path) + content_tag(:span, '/', class: 'divider')
      %li.active Application

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-rocket') + ' Application'


%table.table.table-bordered
  %tr
    %th.span3 #
    %td= @application.id
  %tr
    %th Application Name
    %td= @application.name
  %tr
    %th User Count
    %td 0
  %tr
    %th Root Count
    %td

.button_wrap
  = link_to content_tag(:i, nil, class:'icon12 i-arrow-left') + ' Back', :back, class: 'btn'
  = link_to content_tag(:i, nil, class:'icon12 i-pencil') + ' Edit', edit_application_path(@application), class: 'btn'
