%header#header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to image_tag("logo.png", alt: "Genyx admin"), "#", class: 'brand'
      .nav-no-collapse
        #top-search
        %ul.nav.pull-right
          %li.divider-vertical
          %li.dropdown
            = link_to content_tag(:i, nil, class: 'icon24 i-bell-2') + content_tag(:span, 6 , class: 'notification red'), "#", class: 'dropdown-toggle', "data-toggle" => "dropdown"
            %ul.dropdown-menu
              %li= link_to content_tag(:i, nil, class: 'icon16 i-calendar-2') + "Admin Jenny add event", "#"
              %li= link_to content_tag(:i, nil, class: 'icon16 i-file-zip') + "User Dexter attach file", "#"
              %li= link_to content_tag(:i, nil, class: 'icon16 i-stack-picture') + "User Dexter attach 3 pictures", "#"
              %li
                = link_to content_tag(:i, nil, class: 'icon16 i-cart-add') + "New orders" + content_tag(:span, 2, class: 'notification green'), "#"
              %li
                = link_to content_tag(:i, nil, class: 'icon16 i-bubbles-2') + "New comments" + content_tag(:span, 5, class: 'notification red'), "#"
              %li
                = link_to content_tag(:i, nil, class: 'icon16 i-pie-5') + "Daily stats is generated", "#"
          %li.divider-vertical
          %li.dropdown
            = link_to content_tag(:i, nil, class: 'icon24 i-envelop-2') + content_tag(:span, 3 , class: 'notification red'), "#", class: 'dropdown-toggle', "data-toggle" => "dropdown"
            %ul.dropdown-menu.messages
              %li.head
                %h4 Index
                = content_tag(:span, "3 messages", class: 'count')
                = content_tag(:span, link_to(content_tag(:i, nil, class:'icon16 i-pencil-5'), '#', class: 'tipB'), class: 'new-msg').html_safe
              %li
                - text_1 = ""
                - text_1 += content_tag(:span, image_tag("/assets/avatars/peter.jpg"), class: 'avatar')
                - text_1 += content_tag(:span, "Call me i need to talk with you", class: 'msg')
                - text_1 += content_tag(:button, content_tag(:i, nil, class: 'icon12 i-close-2'), class: 'btn close')
                = link_to text_1.html_safe, '#', class: 'clearfix'
              %li
                - text_2 = ""
                - text_2 += content_tag(:span, image_tag("/assets/avatars/anonime.jpg"), class: 'avatar')
                - text_2 += content_tag(:span, "I have question about ...", class: 'msg')
                - text_2 += content_tag(:button, content_tag(:i, nil, class: 'icon12 i-close-2'), class: 'btn close')
                = link_to text_2.html_safe, '#', class: 'clearfix'
              %li.foot= link_to "View all messages", "#"
          %li.divider-vertical
          %li.dropdown.user
            = link_to image_tag("/assets/avatars/sugge.jpg") + content_tag(:span, content_tag(:i, nil, class: 'icon16 i-arrow-down-2'), class: 'more'), "#", class: 'dropdown-toggle avatar', "data-toggle" => "dropdown"
            %ul.dropdown-menu
              %li= link_to content_tag(:i, nil, class: 'icon16 i-cogs') + "Settings", '#'
              %li= link_to content_tag(:i, nil, class: 'icon16 i-user') + "Profile", '#'
              %li= link_to content_tag(:i, nil, class: 'icon16 i-exit') + "Logout", '#'
          %li.divider-vertical
