%aside#sidebar
  .side-options
    %ul
      %li= link_to content_tag(:i, nil, class: 'icon16 i-arrow-left-7'), '#', class: 'act act-primary tip', id: 'collapse-nav', title: 'Collapse navigation'
  .sidebar-wrapper
    %nav#mainnav
      %ul.nav.nav-list
        = side_nav_with_li("Dashboard", 'i-screen', '#')
        = side_nav_with_li("Applications", 'i-rocket', applications_path)
        = side_nav_with_li("Devices", 'i-users', devices_path)
        / = side_nav_with_li("Dashboard", 'i-screen', '#')
        / = side_nav_with_li("Charts", 'i-stats-up', '#')
        / %li
        /   = side_nav_without_li("Forms", 'i-menu-6', '#')
        /   %ul.sub
        /     = side_nav_with_li("Form elements", 'i-stack-list', '#')
        /     = side_nav_with_li("Form validation", 'i-stack-checkmark', '#')
        /     = side_nav_with_li("Form wizard", 'i-stack-star', '#')
        / %li
        /   = side_nav_without_li("Tables", 'i-table-2', '#')
        /   %ul.sub
        /     = side_nav_with_li("Static tables", 'i-table', '#')
        /     = side_nav_with_li("Data tables", 'i-table', '#')
        / = side_nav_with_li("Grid", 'i-grid-5', '#')
        / = side_nav_with_li("Typography", 'i-font', '#')
        / = side_nav_with_li("Calendar", 'i-calendar', '#')
        / %li
        /   = side_nav_without_li("Ui Elements", 'i-cogs', '#')
        /   %ul.sub
        /     = side_nav_with_li("Icons", 'i-IcoMoon', '#')
        /     = side_nav_with_li("Buttons", 'i-point-up', '#')
        /     = side_nav_with_li("UI Elements", 'i-puzzle', '#')
        / = side_nav_with_li("Gallery", 'i-images', '#')
        / = side_nav_with_li("Maps", 'i-location-4', '#')
        / = side_nav_with_li("File manager", 'i-cloud-upload', '#')
        / = side_nav_with_li("Widgets", 'i-cube-3', '#')
        / %li
        /   = side_nav_without_li("Pages", 'i-file-8', '#')
        /   %ul.sub
        /     %li
        /       = side_nav_without_li("Error Pages", 'i-warning', '#')
        /       %ul.sub
        /         = side_nav_with_li("Error 403", 'i-notification', '#')
        /         = side_nav_with_li("Error 404", 'i-notification', '#')
        /         = side_nav_with_li("Error 405", 'i-notification', '#')
        /         = side_nav_with_li("Error 500", 'i-notification', '#')
        /         = side_nav_with_li("Error 503", 'i-notification', '#')
        /         = side_nav_with_li("Offline page", 'i-notification', '#')
        /       = side_nav_with_li("Invoice Pages", 'i-credit', '#')
        /       = side_nav_with_li("Profile Pages", 'i-user', '#')
        /       = side_nav_with_li("Search page", 'i-search-2', '#')
        /       = side_nav_with_li("Email page", 'i-envelop-2', '#')
        /       = side_nav_with_li("Support page", 'i-support', '#')
        /       = side_nav_with_li("FAQ page", 'i-question', '#')
        /       = side_nav_with_li("Blank page", 'i-file-7', '#')
